!!!
%html{ ng: { app: "gitLaw" } }
  %head
    %title= "Git Law"
    %base{ href: ( ENV["RAILS_RELATIVE_URL_ROOT"].present? ? ENV["RAILS_RELATIVE_URL_ROOT"] : "/" ) }
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = favicon_link_tag
  %body
    -# = File.read("#{Rails.root}/app/views/layouts/_banner.html").html_safe
    = yield
    -# = File.read("#{Rails.root}/app/views/layouts/_footer.html").html_safe
